@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body, p, h1, h2, h3, h4, h5, h6, span, strong, a {
    font-family: "Inter",sans-serif;
}
/* header_css_start_Abhi */
.inner_header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
  }
  .column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
.inner_header_nav nav ul {
    display: flex;
    list-style: none;
    gap: 45px;
    margin: 0px;
    align-items: center;
}

.about-content h1 {
    color: #fff;
    font-weight: 400;
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 16px;
    text-align: left;
    width: 50%;
}
.container {
    width: 100%;
    max-width: 1170px !important;
    padding: 0;
    margin: 0 auto;
}
h2 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
.about-banner {
    background: #101010 !important;
    margin: 20px 0px 57px !important;
}
.about-inner p {
    color: #cdcdcd;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 10px;
}
.content_of_founder h2 {
    color: #fff;
}
.part-about subtitle {
    width: 25%;
    text-align: left;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}
 
.about-inner { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.part-about {
    padding: 25px 0px; 
    margin: 0 auto;
}
.abt_heading {
    font-size: 14px !important;
    font-weight: 400;
    color: #54a154;
}
img.signature {
    width: 160px;
    padding-top: 50px !important;
    float: right;
}
.about-content p {
    font-size: 16px;
    font-weight: 300;
}
.inner_header_nav nav ul a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.ar_line {
    position: absolute;
    height: 2px;
    width: 22px;
    background: #fff;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    top: 12px;
    left: 10px;
    transform-origin: 5px 50%;
    -webkit-transform-origin: 5px 50%;
}
.ar_left {
    position: absolute;
    height: 2px;
    width: 15px;
    background: #fff;
    transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    top: 13px;
    left: 7px;
    transform-origin: 5px 50%;
    -webkit-transform-origin: 5px 50%;
    animation: leftArrow .5s 1s infinite ease-out alternate;
    -webkit-animation: leftArrow .5s 1s infinite ease-out alternate;
} 
.arrow-right {
    width: 20px;
    height: 25px;
    position: absolute;
    top: 38px;
    transform: rotate(-90deg);
    right: 15px;
    opacity: 0;
}
.columnMenu img {
    width: 100%;
}
.inner_header_nav nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
.get_hed_btn a {
    background: #54a154;
    color: #fff;
    padding: 12px 15px 12px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}
/* header_css_close_abhi */
/* banner_css_start_abhi */
.brand_banner_section:before {
    background: #00000096;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}
.colun_frelance {
    display: flex;
    justify-content: space-between;
    margin: 20px auto !important;
    background: #fff !important; 
    border-radius: 10px;
    width: 1110px;
    padding: 20px 0px;
    box-shadow: 1px 1px 20px #00000059;
}
.colun_frelance .column {
    padding: 9px 0px !important;
}
.colun_frelance .column:nth-child(2){
   border-left: 1px solid #dcdcdc;
   border-right: 1px solid #dcdcdc;
}
.colun_frelance .column:nth-child(4){
    border-left: 1px solid #dcdcdc;
 }
/*_abut_css_ */
.two-columns.aboutInfo-section {
    display: flex;
    gap: 40px;
}
.about-content p {
    margin-top: 0;
    margin-bottom: 0rem;
    color: #fff;
}
.about_third .about-content h2, .about_third .about-content p {
    color: #000 !important;
    text-align: left;
}
.about_us_section {
    padding: 20px 20px 55px;
    width: 100%;
    max-width: 1280px !important;
    margin: 0 auto;
}
.services-inner {
    width: 100%;
    max-width: 1170px !important;
    margin: 0 auto;
}
.technology-main {
    padding: 70px 80px 30px !important;
}
body {
    background: #000;
    position: relative;
    z-index: -1;
}
.image-sec img {
    width: 100%;
    border-radius: 20px;
}
.about-content ul {
    padding: 0px;
    list-style: none;
}
.about-content ul li {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}
.check_ico i {
    color: #54a154;
}
.experience_crown {
    background: #ffff;
    box-shadow: 0px 0px 20px #cfcfcf;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    max-width: 140px;
    position: absolute;
    left: -40px;
    top: -40px;
}
.experience_crown img {
    width: 60px;
}
.experience_crown p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 12px;
    font-weight: 400;
}
.experience_crown h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3px;
}
.image-sec {
    position: relative;
}
.learn_more_btn a {
    background: #54a154;
    color: #fff;
    padding:  10px 20px;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
}
.image-sec::before {
    content: '';
    position: absolute;
    background: #54a154;
    width: 90%;
    height: 80%;
    top: 89px;
    left: 80px;
    z-index: -1;
    border-radius: 19px 10px;
}
/***************************************/
.testimonial-inner .slick-slide img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    /* box-shadow: 1px 2px 4px -3px #a3a3a3; */
    /* background: #1a1a1a; */
}
.testimonial-inner .item h3 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 0px !important;
}
p.country {
    font-size: 16px !important;
}
span.review-date {
    font-size: 11px;
    color: #fff;
    font-weight: 100;
}
.testimonial-inner span.ti-stars {
    margin-left: 135px;
    color: orange;
    font-size: 14px;
}
.testimonial-inner .slick-slide {
    display: none;
    float: left;
    margin-right:6px;
    height: 100%;
    min-height: 1px;
}
.testimonial-inner p {
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    margin-top: 19px;
    margin-bottom: 0px;
    color: #bdbdbd !important;
}
.testimonial-inner .slick-slide div .item {
    background: #000;
    padding: 20px;
    border-radius: 15px;
    min-height: 510px !important;
}
.testimonial-inner .slick-prev, .testimonial-inner .slick-next {
    top: 120%;
    width: 40px;
    height: 40px;
}
.testimonial-inner .slick-initialized .slick-prev {
    right: 131px !important;
    left: unset;
}

.testimonial-inner .slick-initialized .slick-next {
    right: 95px;
}
.exp_btn a i {
    padding-left: 20px;
}

.testimonial-inner .slick-prev:before, .testimonial-inner .slick-next:before {
    font-size: 36px;
    line-height: 1;
    opacity: 20.75;
    color: #68ac68;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/**********************************************/
.banner img {
    width: 100%;
}
.testimonial-inner h3 {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    padding-bottom: 20px !important;
}
.slick-dots li.slick-active button:before {
    color: black !important;
}
.form-right h3 {
    color: #000;
    font-size: 36px; 
    text-align: center;
}
.form-right p { 
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-align: center;
}
p.subtitle {
    color: #54a154 !important;
    font-size: 16px !important;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0px;
}
.client-say-pd {
    padding-top: 13px;
}
.popup-container .popup input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}
.career-page button.apply-sub {
    background-color: #28a745;
    color: #fff;
    padding: 6px 20px;
    border-radius: 3px;
    border-color: #28a745;
    border: 1px;
    margin: 20px 0;
}
.career-page button.apply-close {
    background-color: #28a74500;
    color: #fff;
    margin-right: 0;
    border-radius: 3px;
    border-color: #28a745;
    border: 1px;
    text-align: right;
    width: 50%;
    margin: 0 auto;
    padding-right: 0px;
}
.fa-times-rectangle:before, .fa-window-close:before {
    content: "\f2d3";
    font-size: 35px;
}
/***********************************************/
.footer-inner {
    display: flex;
    justify-content: space-between;
}
.social_media-icon {
    list-style: none;
    display: flex;
    gap: 7px;
    margin-top: 50px;
    padding-left: 15px !important;
}
.quick-links, .portfolio-links {
    text-align: left;
    list-style: none;
    padding: 0px;
}
.footer-logo {
    text-align: left;
    display: flex;
}
.column h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-address {
    text-align: left;
    display: flex;
    gap: 10px;
    font-size: 16px; 
    color: #cdcdcd !important;
}
.footer-phone, .footer-email {
    display: flex; 
    margin: 15px 0px;
}
.footer-phone a span, .footer-email a span {
    margin-right: 10px;
    font-size: 20px;
}
.footer-phone a, .footer-email a {
    color: #cdcdcd !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 300;
}
.btn-primary {
    transition: transform 0.3s ease-in-out;
    color: #fff;
    background-color: #54a15400;
    border-color: #54a154;
    padding: 8px 40px;
    /* border: 1px solid #fff; */
    height:42px !important;
    width:134px !important;
}
    .btn-primary:hover {
        transform: scale(1.1);
        background-color: #54a154 !important;
        color: #fff !important;
        border: none !important;
        padding: 8px 40px !important;
        height:42px !important;
        width:134px !important;
        transition: 0.4s;
    }
    .slick-track {
        display: flex !important;
        justify-content: center;
    }
ul.portfolio-links li, ul.quick-links li {
    margin: 10px 0;
}
.footer-inner ul li a, .footer-inner ul li a {
    color: #cdcdcd !important;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
}
.footer-inner ul li a:hover, .footer-inner ul li a:hover {
    color: #54a154 !important;
}
.right-content-abt {
    width: 90%;
}

.footer-copy-text p {
    margin-top: 0;
    margin-bottom: 0rem;
}
ul.social_media-icon li {
    background: transparent;
    padding: 10px 12px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color:#fff;
}
.inner-header {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.placement-inner p {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

.column.footer-address-main {
    max-width: 35%;
}
footer .column {
    flex: 1 1;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    max-width: fit-content;
}
/***********************************************/
.whatsapp_widget_wrapper {
    width: 300px;
    float: right;
}
.whatsapp_widget_icon {
    border-radius: 50px;
    padding: 10px 10px;
    float: right;
    position: fixed;
    bottom: 60px;
    right: 23px;
}
.whatsapp_widget_header_close_btn div {
    text-align: right;
}
.whatsapp_widget_icon {
    border-radius: 50px;
    padding: 10px 10px;
    float: right;
    position: fixed;
    bottom: 60px;
    right: 23px;
}
.whatsapp_widget_pop {
    width: 300px;
    position: fixed;
    bottom: 110px;
    right: 25px;
}
.whatsapp_widget_header {
    display: flex;
    flex-direction: row-reverse;
    background: #54a154 !important;
    padding: 15px 15px;
    justify-content: space-between;
}
.whatsapp_widget_chat_wrapper_inner {
    background: #fff;
    padding: 20px;
}
.whatsapp_widget_footer {
    background: #54a154 !important;
    padding: 15px;
    border-radius: 0px 0px 10px 20px;
}
.whatsapp_widget_header_icon {
    margin-right: 10px;
    background: transparent !important;
}
.whatsapp_widget_header_icon img {
    width: 50px;
    border-radius: 30px;
    height: 50px;
    object-fit: cover;
}
.whatsapp_widget_header {
    display: flex;
    flex-direction: row-reverse;
    color: #ffff !important;
    background: #54a154 !important;
    padding: 15px 15px;
    justify-content: space-between;
}
input.whatsapp_widget_input {
    width: 100%;
    padding: 11px 10px;
    border: 0px;
    font-size: 11px;
    margin-bottom: 0px;
    color: #7a7a7a;
    border-radius: 10px 0px 0px 10px;
}
a.whatsapp_widget_footer_btn {
    background: #000 !important;
    padding: 11px 10px;
    border-radius: 0px 10px 10px 0px;
    font-size: 11px;
    color: #fff !important;
    white-space: nowrap;
}
.whatsapp_widget_footer {
    background: #54a154 !important;
    padding: 15px;
    border-radius: 0px 0px 10px 20px;
    margin-top: -10px;
}

.whatsapp_widget_footer {
    display: flex;
}
.whatsapp_widget_footer div {
    width: 100%;
}
/***********************************************/
.onTop i {
    color: #54a154;
    font-size: 35px;
    line-height: 45px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(255 255 255 / 10%);
}
.onTop {
    position: fixed;
    bottom: 10px;
    background: transparent;
    border: transparent;
    right: 20px;
    z-index: 1;
}
button:focus {
    outline: none;
}
span.ti-stars i:hover {
    animation: star .5s cubic-bezier(.36,.07,.57,.99) infinite;
    transform: scale(1.5);
}
nav {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}   
.inner_header_nav nav ul a {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 15px !important;
    text-transform: uppercase;
}
.logo img {
    width: 190px;
}
.inner_header_nav nav ul a:hover {  
    text-decoration: none;
    color: #54a154;
}
.inner_header_nav nav ul a:after,a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: #54a154;
}
.inner_header_nav nav ul a:after{right: 0;
background:#54a154;
transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.inner_header_nav nav ul a:hover:before{
    background:#54a154;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.inner_header_nav nav ul a:hover::after{
    background: transparent;
    width: 100%;
    transition: 0s;
}
.get_hed_btn {
    color: #111;
    font: 500 1rem sans-serif;
    position: relative;
}
.get_hed_btn::before,
.get_hed_btn::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: 0px solid transparent;
}
.get_hed_btn::before {
    top: -15px;
    left: -4px;
    border-top: 2px solid #54a154;
    border-left: 2px solid #54a154;
    transition: 1s;
    z-index: -9999;
    border-radius: 5px;
}
.get_hed_btn::after {
    bottom: -18px !important;
    right: -5px;
    border-bottom: 2px solid #54a154;
    border-right: 2px solid #54a154;
    transition: 1s;
    z-index: -9999;
    border-radius: 5px;
}
.get_hed_btn:hover::before, .get_hed_btn:hover::after {
    width: calc(96% + 6px);
    height: calc(96% + 6px);
}
  /*********** By Amru *******************************/
  .four-columns.colun_frelance .column {
    overflow: hidden;
}
.colun_frelance .column {
    transition: 0.3s;
    text-align: center;
}
.colun_frelance .column:hover {
    transform: scale(1.1);
}
.column ul.social_media-icon i {
    font-size: 20px; 
}
.footer-email i, .footer-phone i, .footer-address i {
    font-size: 20px;
    color: #ffffff;
    background: transparent;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-map-marker:before {
    content: "\f041";
    font-size: 28px;
}
.footer-address i.fa.fa-map-marker:hover {
    background-color: #54a154;
    color: #fff !important;
    border-radius: 100%;
    padding: 10px !important;
}

.footer-phone i.fa.fa-phone-square:hover {
    background-color: #28a745;
    color: #fff !important;
    border-radius: 100%;
    padding: 10px !important;
}
.footer-email i.fa.fa-envelope:hover {
    background-color: #28a745;
    color: #fff !important;
    border-radius: 100%;
    padding: 10px !important;
}
/******************* Lucky *****************************/
section#schedules .schedule .activity video {
    padding-top: 100px !important; 
}
section#schedules .showcase {
    margin-bottom: 50px !important;
}
.column-tech {
    border-right: 1px solid #202020 !important;
    padding-right: 5px !important;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.column-tech img {
    width: 140px;
}
.testimonial.testi_clints {
    background-color: #fff !important;
    padding-bottom: 80px !important;
}
.colun_frelance {
    margin-top: -50px !important;
}
 
 
.testimonial.testi_clints {
    padding-bottom: 144px !important;
    padding-top: 40px;
}
 
.slick-dots li button:before {
    font-size: 9px !important;
    position: absolute !important;
    top: 40px !important;
    opacity: 0.7 !important;
    color: #28a745 !important;
}
.review-page .testimonial.testi_clints {
    background-color: #000000 !important;
}
.testimonial .tecnoLogo {
    padding-top: 15px;
}
.review-page .reviesOfClient {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
.review-page .testimonial-inner h3 {
    color: #ffffff;
    padding-top: 15px !important;
}
.review-page .reviesOfClient .item {
    background-color: #101010;
    padding: 20px;
    border-radius: 10px;
}
.banner-heading.review-banner h2 {
    color: #fff;
}
.review-page .reviesOfClient .item:hover {
    box-shadow: 0px 0px 20px 0px #343434d9;
}
.review-page .reviesOfClient .item img {
    width: 100px;
}
.review-page .testimonial-inner .item h3 {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px; 
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 0px !important;
}
.review-page .testimonial.testi_clints {
     padding-bottom: 0px !important; 
    padding-top: 40px;
}

.why-join .why-content p {
    font-size: 16px;
}
.placement-main .form-fields-button {
    display: inline-flex;
    width: 50%;
    margin-top: 30px;
}
/******************* Amarjeet *****************************/
.placement-main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #101010;
    padding-bottom: 50px;
}
.placement-main .form-fields-button {
    margin-top: 35px;
}
input.profile_Q.ans_Qus {
    width: 16px;
    height: 16px;
}
.profile-inner label {
    font-size: 16px;
}
.form-fields-button.back-btn {
    justify-content: end;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 16px;
    height: 16px;
}
.placement-inner { 
    width: 100%;
    max-width: 1070px;
    padding-top: 100px;
}
 
.common-fields input {
    width: 100%;
}
.placement-main label {
    font-size: 20px;
    padding-right: 20px;
}
.profile-inner label {
    padding-left: 20px;
}
.form-fields-button input {
    width: 100%;
    max-width: 120px;
    border-radius: 6px; 
    font-size: 18px;
    background: #54a154;
    font-weight: bold;
    color: #fff;
}

.questionLable {
    color: #fff;
    padding-bottom: 30px;
    text-align: center;
}

 
.testimonial .tecnoLogo img {
    width: 100px;
    height: auto;
    object-fit: cover;

}
.contactForm-inner .form-group {
    margin-bottom: 1rem;
}
.common-fields {
    grid-template-columns: repeat(2, 1fr) !important;
    display: grid;
    gap: 0px 20px;
}
.left-fields {
    grid-template-columns: repeat(2, 1fr) !important;
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
}
/********************************/
.placement-page h2 {
    text-align: center;
    color:#fff;
}
.placement-inner form {
    padding-top: 30px;
}
.profile-inner .form-group {
    margin-bottom: 0;
}
.profile-inner {
    margin-bottom: 1rem;
}

/***************** IndustryDemands start *************************/
.industryDemands {
    max-width: 1340px;
    margin: 0 auto;
}
.industryDemands-inner {
    padding: 57px 20px 58px;
    max-width: 1170px;
    margin: 0 auto;
}
.industryDemands-inner h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
}
.industryDemands-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    padding-top: 2rem;
}
.industryDemands-items .col {
    text-align: center;
    border-right: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    padding: 40px 50px;
}

.industryDemands-items .col:hover img{
    transform: scale(1.1);
}
.btn-primary:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
}
.industryDemands-items .col a, .industryDemands-items .col a h3 {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 20px;
    font-size: 16px;
}
.industryDemands-items .col a, .industryDemands-items .col a p {
    color: #c5c5c5;
    font-size: 12px;
}
.services-inner .service-row .col p {
    color: #000;
    text-align: left;
    padding-top: 5px;
    font-size: 15px;
    margin-top: 0px;
}
.four-columns .colun_frelance.column img {
    width: 100%;
    border-radius: 8px;
}
.industryDemands-items .col:hover 
h3 {
    color: #28a745;
    transform: scale(1.1);
}
.industryDemands-items .col img {
    border-radius: 10px;
    background-image: linear-gradient(to bottom,#343338,#302e34,#2b2a2f,#27252b,#232127);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}
.industryDemands-items .col:nth-child(4n) {
    border-right: 0 solid #3c3c3c;
}
.industryDemands-items .col:nth-child(9), .col:nth-child(10), .col:nth-child(11), .col:nth-child(12) {
    border-bottom: 1px solid #000 !important;
}
/***************** IndustryDemands end *************************/
.form-left.col-6 {
    padding: 50px;
}
.form-right .form-group input {
    height: 40px;
}
 
.placement-inner .questionAnswer-main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.placement-inner .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    /* border: 1px solid #54a154; */
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0px 0px 7px 0px #a6c1a696;
    height: 50px !important;
    cursor: pointer;
}
div#contactForm {
    padding-top: 0px !important;
    padding-right: 0px !important;
}
.questionAnswer-main .answer {
    display: flex;
    align-items: baseline;
}
.questionAnswer-main .answer label {
    font-size: 16px;
    color: #ebebeb;
}
/********************* About Us Page Start *********************/
 subtitle {
    color: #54a154;
}
 .page-about { 
    padding-top: 80px;
}
.page-about .banner-heading h2{
    text-align: center;
    padding: 100px 0px;
}
.about-main {
    margin-bottom: 56px; 
} 
.about-inner h2 {
    padding: 6px 0px;
}
.about-content h2, .about-content p {
    color: #fff !important;
    text-align: center;
}
.about_third {
    background: #fff;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 58px;
    padding-bottom: 9px;
}
.about-content p {
    font-weight: 400;
    color: #fff !important;
    width: 50%;
    text-align: left;
    font-size: 20px;
}
.about-content {
    display: flex;
}
.about_third .about_us_section {
    padding: 0 !important;
}
.about_third .about-content-columns {
    width: 100%;
    margin: 0 auto;
}
.top-counter {
    display: flex;
    width: 100%;
    gap: 0px;
    margin-bottom: 22px;
}
.about_third .about_us_section {
    padding: 0 !important;
    width: 50%;
}
/************** Join Our Team **********************/
.join-team {
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  .join-team .join-team-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .join-team .left-side {
    width: 50%;
    padding-right: 20px;
  }
  .join-team .right-side {
    width: 50%;
  }
  .join-team .content {
    max-width: 400px;
  }
  .join-team h3 {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px
  }
  .join-team p {
    font-size: 16px;
    line-height: 1.3;
    color: #666;
    margin-bottom: 30px;
  }
  .join-team a {
    display: inline-block;
    padding: 10px 20px;
    background-color:transparent;
    color: #000;
    text-decoration: none;
    border:1px solid #000;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    font-weight:600;
  }
  .join-team .grid-images {
    display: flex;
  }
  .join-team .display-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .join-team .img-wrap {
    width: 50%;
    padding: 10px;
  }
  .join-team .img-wrap img {
    width: 100%;
    border-radius: 5px;
  }
  .join-team .img-wrap-inner { 
    padding: 5px;
  }
  .join-team .left-side {
    width: 50%;
    padding-right: 20px;
    align-items: center !important;
    display: flex;
}
.content_of_founder {
    width: 72%;
}
.img_of_founder {
    width: 40%;
}
.img_of_founder img {
    width: 100%;
    border-radius: 20px;
}
.founder_section_content {
    display: flex;
    gap: 50px;
    align-items: center;
}
.content_of_founder p {
    color: #fff;
}
.founder_section {
    padding: 60px 46px;
}   
 /********************* About Us Page End *********************/
 .tabs li:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 11px #2125293d;
    transition: .3s;
    display: block;
    padding: 10px 15px !important;
    background: #54a154 !important;
    margin-right: 0px !important;
    border-radius: 6px;
    cursor: pointer;
    color: #fff !important;
}
.tabs li {
    display: block;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    padding: 10px 15px !important;
}
.tabs {
    display: flex;
    justify-content: center;
    gap: 25px !important;
    padding: 0 !important;
}
.footer-inner ul.quick-links li a:hover {
    border-bottom: 1px solid #54a154;
}
.footer-inner .column h3 {
    border-bottom: 1px solid #457a45;
    white-space: nowrap;
    width: 55px;
    padding-bottom: 9px;
    padding-top: 0px;
    font-weight: 500;
}
/* div#contactForm {
    padding: 34px 0px 60px!important;
     box-shadow: inset -19px -2000px 20px 20px #000000a8; 
} */
footer {
    padding: 60px 45px 20px !important;
}
.footer-copy-text .home-link {
    color: #54a154;
}
.invalid-feedback {
    text-align: left;
}
.banner-heading.placement-banner h2 {
    color: #fff;
}
.error-message {
    color: #ff0033;
}

/* Training & Placement css start here  */
.placement-page .banner-heading.placement-banner {
    padding: 100px 0px; 
    background-color: #101010 !important;
}
.placement-page-inner{
    padding-top: 100px;
}
.questionAnswer-main .answer {
    color: #fff;
}
.answer input.profile_Q.ans_Qus {
    margin-right: 20px;
}
/* Training & Placement css end here  */

/*review-page css start here*/
.review-page .review-page-inner {
    padding-top: 100px;
}
.banner-heading.review-banner h2{
    background: #101010 !important;
    padding: 100px 0px;
    padding-bottom: 100px;
    text-align: center;
    margin-bottom: 0;
}
/*review-page css end here*/
/* contact page css start here */
.contact-page-inner {
    padding-top: 100px;
}
.contact-page-inner .page-about .banner-heading h2 {
    text-align: center;
    background: #101010 !important;
    padding: 100px 0;
    padding-bottom: 100px;
    margin-bottom: 0;
    color: #fff;
}
.main-contact-page .section-420 {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 50px 0px;
}
.main-contact-page .section-420 .heading-contact h3 {
    font-size: 40px;
    font-weight: 600;
}
.section-420  span.anitime {
    color: #28a745;
}
.section-420  span.anitime:hover {
    color: #fff;
}
.contact-section-430 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 1280px;
    margin: 0 auto;
}
.contact-section-430 .icon {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 30px;
}
.contact-section-430 .content-1, .content-2, .content-3 {
    color: #fff;
}
.contact-section-430 i {
    color: #fff;
    font-size: 30px !important;
}
.contact-section-430 .contact-item-3 {
    width: 25%;
    background-color: #101010;
    border-radius: 5px;
    padding: 20px;
}
.contact-section-430 .contact-item-2 {
    background-color: #101010;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
}
.contact-section-430 .contact-item-1 {
    background-color: #101010;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
}
.contact-item-1 h2 {
    color: #28a745;
    font-size: 30px;
    padding-top: 20px;
}
.contact-item-2 h2 {
    color: #28a745;
    font-size: 30px;
    padding-top: 20px;
}
.contact-item-3 h2 {
    color: #28a745;
    font-size: 30px;
    padding-top: 20px;
}
.contact-item-1:hover {
    box-shadow: 0px 0px 20px 0px #ffffff;
}
.contact-item-2:hover {
    box-shadow: 0px 0px 20px 0px #ffffff;
}
.contact-item-3:hover {
    box-shadow: 0px 0px 20px 0px #ffffff;
}
 .bk-ph {
    background-color: #28a745;
    padding: 15px 20px;
    border-radius: 100%;
    width: fit-content;
}
 .bk-add {
    background-color: #28a745;
    padding: 15px 25px;
    border-radius: 100%;
    width: fit-content;
}
 .bk-em {
    background-color: #28a745;
    padding: 15px 18px;
    border-radius: 100%;
    width: fit-content;
}
/* contact page css end here */
.main-sub {
    display: grid;
    width: 1170px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0px;
}
.Subject-M p {
    text-align: right;
    width: -webkit-fill-available;
    background-color: #544b4b36;
    padding: 40px;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
}
.Subject-M h2{
    text-align: left;
    font-size: 25px;
}
.Subject-M h3.cont2 {
    font-size: 18px;
}

.main-sub .database_left h3 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 50px;
    padding-right: 30px;
}
.testimonial-inner .slick-track {
    gap: 80px;
}
.testimonial-inner .slick-slide.slick-active.slick-center.slick-current {
    width: 850px !important;
    opacity: 1;
}

.slick-initialized .slick-slide {
    display: block;
    opacity: 0.7;
}
.main-sub .databaseIcon.Subject-M {
    background: #171717;
    border: 1px solid #343434;
    border-radius: 10px;
    height: 240px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*******************************************/

.main-sub .database_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 0;
}
.main-sub .database_left {
    padding-right: 20px;
    display: flex;
    align-items: center;
}
 
 
.faq-main h2 {
    color: #000;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 15px;
    text-align: left;
    padding-bottom: 25px;
}
 
.faq-main .question {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    cursor: pointer;
    position: relative; 
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.faq-item span.icon {
    padding-left: 38px;
}
.faq-main .faq-item {
    overflow: hidden;
    transition: auto;
    margin: 15px 0px 15px 0px;
    padding: 15px 20px;
    background: #f1f2fd;
    height: -moz-fit-content;
    height: fit-content;
    width: 630px;
}
  
  .form-left h3 {
    font-size: 40px;
}
.form-left p {
    font-size: 25px;
}

  .faq-main .answer {
    overflow: hidden;
    font-size: 14px;
    color: #2b2929;
    transition: max-height 0.8s ease-out;
    padding: 0px 10px 0px 10px;
  }

.faq-main .question svg {
    position: absolute;
    align-items: center;
    transform: rotate(90deg);
    width: 25px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000;
    height: 30px;
    cursor: pointer;
    stroke-width: 1px;

}
.faq-main .question:hover {
    color: #28a745;
} 

.faq-main .active svg {
    transform: rotate(-90deg) !important;
}

/********** Tushar css start here **********/
.join-team a:hover{
    transform: scale(1.1);
    background-color: #28a745;
    border:1px solid #28a745;
    color:#fff;
    transition: 0.4s;
}
button.Next_btn_traning_and_placement {
    padding: 12px 50px;
    border: none;
    color: #fff !important;
    cursor: pointer;
   border:1px solid #fff;
    background-color: transparent;
    border-radius:5px;
    transition: transform 0.3s ease-in-out;
}   
button.Next_btn_traning_and_placement:hover {
    padding: 12px 50px;
    border: 1px solid #54a154;
    color: #fff !important;
    border-radius: 5px;
    background-color: #54a154;
    transition: 0.4s;
    transform: scale(1.1);
}             
section.heading .banner-heading.placement-banner {
    background-color: #101010 !important;
}
section.heading .banner-heading.placement-banner h2{
    color:#fff !important;
}
.career-page .main-title button {
    transition: transform 0.3s ease-in-out;
    background-color: transparent !important;
    border:1px solid #fff !important;
    color:#fff !important;

}
.career-page .main-title button:hover {
    transform: scale(1.1);
    background-color: #54a154 !important;
   color:#fff !important;
  border:1px solid #54a154 !important;
  transition: 0.4s;
}
button.back_btn_placement_traning {
    display: block;
    padding: 10px 40px;
    font-size: 1rem;
    background-color: transparent !important;
    color: #fff;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 50px !important;
    cursor: pointer;
    font-weight: 700;
}
button.back_btn_placement_traning:hover{
   background-color:#54a154 !important;
   color:#fff;
   border:1px solid #54a154;
}
.read-btn a {
    background-color: #0000 !important;
    border: 1px solid #000 !important;
    color: #000 !important;
    font-weight: 600 !important;
    transition: transform 0.3s ease-in-out;
}
.read-btn a:hover {
    background-color: #54a154 !important;
    border: 1px solid #54a154 !important;
    color: #fff !important;
    font-weight: 600 !important;
    transform: scale(1.1);
    transition: 0.4s;
}
/********** Tushar css End here ***********/


.button_slide {
    background: #54a154;
    padding: 12px 24px;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #54a154;
    transition: ease-out 0.4s;
}
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #ffa41a;
    color: #fff;
    transition: 2s;
    text-decoration: none;
  }
  
  .read-btnn {
    text-align: center;
    margin-top: 30px;
}
div#successMsg {
    color: #54a154;
    padding: 10px;
    font-size: 20px;
}
.our-services .services-inner p.litle-des {
    width: 100%;
    margin: 0 auto;
}
.banner-heading.about-banner h2 {
    color: #fff;
}
.section-420 .des p {
    color: #c5c5c5;
    font-size: 16px;
}

.service .our-services .read-btnn {
    display: none;
}

.column ul.social_media-icon i:hover {
    background-color: #54a154;
    color: #fff !important;
    border-radius: 100%;
    padding: 10px !important;
}


.faq_Contact_Sec {
    background-color: #fff !important;
}

.faq_Contact_Sec {
    background-color: #fff !important;
    display: flex;
    padding: 80px;
}

/* Initially hide the .opposite content */
/* .backService {
    display: none;
}
.col.serviceCount:hover .frontCont {
    display: none;
}
.col.serviceCount:hover .backService {
    display: block;
    position: relative;
    transform: rotateY(180deg);
    color: #fff;
    transition: transform 0.9s ease-in-out;
}
.col.serviceCount:hover {
    position: relative;
    transform: rotateY(180deg);
    background-color: #cb8e32;
    color: #fff;
    transition: transform 0.9s ease-in-out;
} */
.main-contact-page .contactForm-inner {
    display: flex;
    justify-content: center;
}
.main-contact-page .form-right {
    width: 660px;
    padding: 2rem !important;
}
.main-contact-page .p-5 {
    padding: 0rem !important;
}
.closeMenus .closeIcon {
    display: none;
}
.main-contact-page .form-right h3 {
    color: #eadede;
    font-size: 36px;
    text-align: center;
}
.main-contact-page .form-right p {
    color: #eadede; 
    text-align: center;
}


/* The dropdown container */
.dropdownMenu {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdownMenu .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 0;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .client_des {
    font-size: 12px;
}
.client_name {
    margin-bottom: 4px;
    color: #fff;
}

.client_des {
    font-size: 12px;
    color: #fff;
}
.testimonial_modifi {
    background: #000;
    padding: 0px 25px 30px;
    border-radius: 10px;
}
.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.testimonial_modifi {
    background: #000;
    padding: 20px 70px 30px;
}

.testi_img_con {
    border-top: 1px solid #585858;
    padding-top: 20px;
}


.tesi_conte p {
    min-height: 190px;
    color: #fff !important;
    font-size: 16px;
    line-height: 27px;
    padding-top: 20px;
} 
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
     display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 90%;
    left: 7%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;
    top: 90px;
}

  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdownMenu:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .columnMenu {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
  }

  .columnMenu {
    text-align: left;
}
.dropdown-content a {
    color: #000 !important;
}
  
  /* Style links inside the columns */
  .columnMenu a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .columnMenu a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  header {
    /* Your regular header styles go here */
    transition: background-color 0.3s ease;
  }
  
  header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.sticky .inner-header {
    background: #000;
}
  